<template>
    <div class="radio-button" :class="{'radio-button_checked': checked}" />
</template>
<script>
    export default {
        props: {
            checked: {
                type: Boolean,
                default: false
            }
        }
    };
</script>
<style lang="scss">
    .radio-button {
        & {
            background: white;
            border: rem(1) solid $middle-grey;
            border-radius: 50%;
            height: rem(18);
            position: relative;
            width: rem(18);
        }

        &:after {
            background: $light-blue;
            border-radius: 50%;
            content: "";
            display: none;
            height: rem(12);
            left: rem(3);
            position: absolute;
            top: rem(3);
            width: rem(12);
        }

        &_checked {
            &:after {
                display: block;
            }
        }
    }
</style>


