<template>
    <span class="text">
        <slot />
    </span>
</template>
<style lang="scss">
    .text {
        color: $dark-grey;
        display: inline-block;
        font-size: rem(14);
    }
</style>
