<template>
    <grid-layout v-if="stage === $const.stages.FORM">
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.RestorePassword.Request.index.form.emailDto.email.title')"
                           :value.sync="form.emailDto.email"
                           :validation="$v.form.emailDto.email"
                           :server-errors.sync="serverErrors.email"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-captcha
                        ref="recaptcha"
                        :response.sync="form.captchaResponse"
                        :validation="$v.form.captchaResponse"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-button @click.prevent.native="createRequest"
                            :size="$const.button.sizes.FILL_AREA"
                            :text-align="$const.button.textAligns.CENTER">
                    {{ $t('pages.RestorePassword.Request.index.buttons.createRequest') }}
                </app-button>
            </grid-item>
        </grid-row>
        <grid-row v-if="errorMessage">
            <grid-item>
                <app-error :value="errorMessage" />
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item :align="$const.grid.aligns.RIGHT">
                <app-text>
                    {{ $t('pages.RestorePassword.Request.index.bottom.login.text') }}
                    <app-link :value="$t('pages.RestorePassword.Request.index.bottom.login.link')" :link="{name: 'Login'}"/>
                </app-text>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item :align="$const.grid.aligns.RIGHT">
                <app-text>
                    {{ $t('pages.RestorePassword.Request.index.bottom.registration.text') }}
                    <app-link :value="$t('pages.RestorePassword.Request.index.bottom.registration.link')" :link="{name: 'Registration'}"/>
                </app-text>
            </grid-item>
        </grid-row>
    </grid-layout>
    <grid-layout v-else-if="stage === $const.stages.SUCCESS">
        <grid-row>
            <grid-item>
                <app-title :value="success.title" v-if="success.title" />
            </grid-item>
            <grid-item>
                <app-text>
                    {{ success.message }}
                </app-text>
            </grid-item>
            <grid-item>
                <app-text>
                    {{ $t('pages.RestorePassword.Request.index.success.login.text') }}
                    <app-link :value="$t('pages.RestorePassword.Request.index.success.login.link')" :link="{name: 'Login'}"/>
                </app-text>
            </grid-item>
        </grid-row>
    </grid-layout>
</template>
<script>
    import {Types} from "@/components/ui/PureInput/constants";
    import {validationMixin, withParams} from "vuelidate";
    import {required} from "vuelidate/lib/validators";
    import {email} from "@/features/validators";
    import {mapActions} from "vuex";
    import {namespace as restorePasswordNamespace, Types as restorePasswordTypes} from "@/store/restorePassword/const";
    import {Stages} from "./constants";
    import errorHandler from "@/mixins/common/errorHandler";
    import {Size, TextAlign} from "@/components/ui/AppButton/constants";
    import {Align} from "@/components/ui/Grid/constants";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        mixins: [validationMixin, errorHandler],

        data() {
            return {
                form: {
                    emailDto: {
                        email: null,
                    },
                    captchaResponse: null
                },

                stage: Stages.FORM,

                success: {
                    title: null,
                    message: null
                },

                errorMessage: null
            };
        },

        constants: {
            input: {
                types: Types
            },
            button: {
                textAligns: TextAlign,
                sizes: Size
            },
            stages: Stages,
            grid: {
                aligns: Align
            }
        },

        validations() {
            return {
                form: {
                    emailDto: {
                        email: {
                            required: withParams({msg: this.$t("pages.RestorePassword.Request.index.form.emailDto.email.validations.required")}, required),
                            email: withParams({msg: this.$t("pages.RestorePassword.Request.index.form.emailDto.email.validations.email")}, email)
                        }
                    },
                    captchaResponse: {
                        required
                    }
                }

            };
        },

        methods: {
            ...mapActions(restorePasswordNamespace, {
                createRequestAction: restorePasswordTypes.actions.CREATE_REQUEST
            }),

            createRequest() {
                this.$v.form.$touch();
                if (this.$v.form.$invalid) {
                    return;
                }
                preloaderService.showPreloader();
                this.createRequestAction(this.form).then((response) => {
                    preloaderService.hidePreloader();
                    this.success = response.data.notice;
                    this.stage = Stages.SUCCESS;
                }).catch((error)=>{
                    this.$refs.recaptcha.resetCaptcha();
                    if(error.response.status === 400) {
                        this.handleErrors(error);
                    }
                    const msg = error.response.data.message;
                    if(!msg) {
                        throw new Error();
                    }
                    this.errorMessage = msg;
                    preloaderService.hidePreloader();
                }).catch(() => {
                    this.errorMessage = this.$t('pages.RestorePassword.Request.index.errorMessage');
                    preloaderService.hidePreloader();
                })
            }
        },

        components: {
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            AppError: () => import("@/components/ui/AppError"),
            AppTitle: () => import("@/components/ui/AppTitle"),
            AppLink: () => import("@/components/ui/AppLink"),
            AppText: () => import("@/components/ui/AppText"),
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            GridRow: () => import("@/components/ui/Grid/item.vue"),
            AppCaptcha: () => import("@/components/ui/AppCaptcha")
        }
    };
</script>
