<template>
    <div class="captcha">
        <div class="captcha__g-recaptcha">
            <vue-recaptcha ref="recaptcha"
                            @verify="onVerify"
                           :sitekey="siteKey" />
        </div>
        <div class="captcha__error" v-if="validation.$dirty && validation.$invalid">
            <app-error :value="$t('components.ui.AppCaptcha.error')" />
        </div>
    </div>
</template>
<script>
    import {CAPTCHA_SITE_KEY} from "@/constants";

    export default {
        props: {
            captchaRef: {
                type: String
            },

            response: {
                type: String
            },

            siteKey: {
                type: String,
                default: CAPTCHA_SITE_KEY
            },

            validation: {
                type: Object
            }
        },

        mounted() {
            const recaptchaScript = document.createElement("script");

            recaptchaScript.setAttribute("src", "https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit");
            recaptchaScript.setAttribute("async", true);
            recaptchaScript.setAttribute("defer", true);
            document.head.appendChild(recaptchaScript);
        },

        components: {
            VueRecaptcha: () => import("vue-recaptcha"),
            AppError: () => import("@/components/ui/AppError")
        },

        methods: {
            resetCaptcha() {
                this.$refs.recaptcha.reset();
            },

            onVerify(response) {
                if (response !== null) {
                    this.$emit("update:response", response);
                    this.validation.$touch; // eslint-disable-line no-unused-expressions
                }
            }
        }

    };
</script>
<style lang="scss">
    .captcha {
        & {
            display: flex;
            flex-direction: column;
        }

        &__g-recaptcha {
            display: flex;
        }

        &__error {
            display: flex;
            margin-top: rem(5);
            width: 100%;
        }
    }
</style>
