<template>
    <div class="full-page-preloader" v-show="show">
        <app-preloader />
    </div>
</template>
<script>
    export default {
        data() {
            return {
                show: false
            }
        },

        created() {
            this.$eventHub.$on("showPreloader", () => {
                this.show = true;
            });

            this.$eventHub.$on("hidePreloader", () => {
                this.show = false;
            });
        },

        components: {
            AppPreloader: () => import("@/components/ui/AppPreloader")
        }
    };
</script>
<style lang="scss">
    .full-page-preloader {
        background: rgba(255, 255, 255, 0.55);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
</style>