<template>
    <input-block :title="title" :required="required" :errors="getErrors">
        <pure-input :value.sync="localValue"
                    :placeholder="placeholder"
                    :state="state"
                    :input-type="inputType"
                    @blur.native="update"/>
    </input-block>
</template>
<script>
    import input from "@/mixins/ui/input";

    export default {
        mixins: [input],

        props: {
            inputType: {
                type: String
            }
        },

        data() {
            return {
                localValue: this.value
            };
        },

        methods: {
            update() {
                this.$emit("update:value", this.localValue);
                this.$emit("update:server-errors", null);
                if (this.validation) {
                    this.validation.$touch();
                }
            }
        },

        components: {
            PureInput: () => import("@/components/ui/PureInput")
        }
    };
</script>
