<template>
    <span class="title">
        {{ value }}
    </span>
</template>
<script>
    export default {
        props: {
            value: {
                type: String,
                required: true
            }
        }
    };
</script>
<style lang="scss">
    .title {
        align-items: center;
        color: $dark-grey;
        display: flex;
        flex-grow: 1;
        font-size: rem(20);
        font-weight: bold;
        width: 100%;
    }
</style>
