<template>
    <app-block>
        <router-view />
    </app-block>
</template>
<script>
    export default {
        components: {
            AppBlock: () => import("@/components/ui/AppBlock"),
        }
    }
</script>