<template>
    <grid-layout v-if="status === $const.status.OK">
        <grid-row>
            <grid-item>
                <app-title :value="ok.title" v-if="ok.title" />
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-text>
                    {{ ok.message }}
                </app-text>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-text>
                    {{ $t('pages.Registration.Confirm.index.ok.login.text') }}
                    <app-link :value="$t('pages.Registration.Confirm.index.ok.login.link')" :link="{name: 'Login'}"/>
                </app-text>
            </grid-item>
        </grid-row>
    </grid-layout>
    <grid-layout v-else-if="status === $const.status.ERROR">
        <grid-row>
            <grid-item>
                <app-title :value="$t(error.title)" />
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-text>
                    {{ error.message }}
                </app-text>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-link :value="$t('pages.Registration.Confirm.index.error.login.link')" :link="{name: 'Login'}"/>
            </grid-item>
        </grid-row>
    </grid-layout>
</template>
<script>
    import {mapActions} from "vuex";
    import {namespace as registrationNamespace, Types as registrationTypes} from "@/store/registration/const";
    import {Status} from "./constants";
    import {Align} from "@/components/ui/Grid/constants";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        data() {
            return {
                status: null,

                ok: {
                    title: null,
                    message: null
                },

                error: {
                    title: "pages.Registration.Confirm.index.error.title",
                    message: null
                }
            };
        },

        constants: {
            status: Status,
            grid: {
                aligns: Align
            }
        },

        mounted() {
            preloaderService.showPreloader();
            this.confirm();
            preloaderService.hidePreloader();
        },

        methods: {
            ...mapActions(registrationNamespace, {
                confirmAction: registrationTypes.actions.CONFIRM
            }),

            confirm() {
                const userId = this.$route.query.userId;
                const confirmCode = this.$route.query.confirmCode;

                if(!Boolean(userId) || !Boolean(confirmCode)) {
                    this.$router.push({name: "Registration"})
                }

                const confirmRegistrationDto = {
                    userId,
                    confirmCode,
                };

                this.confirmAction(confirmRegistrationDto).then((response) => {
                   this.ok = response.data.notice;
                   this.status = Status.OK
                }).catch((error) => {
                    const msg = error.response.data.message;
                    if(!msg) {
                        throw new Error();
                    }
                    this.error.message = msg;
                    this.status = Status.ERROR;
                }).catch(() => {
                    this.error.message = this.$t('pages.Registration.Confirm.index.error.message');
                    this.status = Status.ERROR;
                });
            }
        },


        components: {
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            AppError: () => import("@/components/ui/AppError"),
            AppTitle: () => import("@/components/ui/AppTitle"),
            AppBlock: () => import("@/components/ui/AppBlock"),
            AppLink: () => import("@/components/ui/AppLink"),
            AppText: () => import("@/components/ui/AppText"),
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            GridRow: () => import("@/components/ui/Grid/item.vue"),
            AppCaptcha: () => import("@/components/ui/AppCaptcha")
        }
    };
</script>
