<template>
    <div class="input-block">
        <div class="input-block__label">
            <app-label :title="title" :required="required" />
        </div>

        <div class="input-block__input">
            <slot />
        </div>
        <div class="input-block__errors" v-if="errors && errors[0]">
            <app-error :value="errors[0]" />
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            required: {
                type: Boolean
            },
            errors: {
                type: Array
            }
        },

        components: {
            AppLabel: () => import("@/components/ui/AppLabel"),
            AppError: () => import("@/components/ui/AppError")
        }
    };
</script>
<style lang="scss">
    .input-block {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        &__label {
            display: flex;
        }

        &__input {
            display: flex;
            margin: rem(4) 0;
        }

        &__errors {
            display: flex;
            flex-direction: column;
        }
    }
</style>
