<template>
    <div class="app-layout">
        <div class="app-layout__notification">
            <notification-component />
        </div>
        <div class="app-layout__body"  v-if="isReady">
            <div class="app-layout__top">
                <div class="app-layout__content">
                    <top-section />
                </div>
            </div>
            <div class="app-layout__main">
                <div class="app-layout__content">
                    <router-view />
                </div>
            </div>
        </div>
        <app-preloader v-else />
        <full-page-preloader />
    </div>
</template>
<script>
    import {mapActions, mapGetters} from "vuex";
    import {namespace as authNamespace, Types as authTypes} from "@/store/auth/const";
    import {namespace as accountNamespace, Types as accountTypes} from "@/store/account/const";
    import {addWarnNotify} from "@/features/notification/NotifyService";

    export default {
        created() {
            if (this.isLoggedIn) {
                this.fetchMe().catch(() => {
                    const self = this;
                    setTimeout(warn, 500);
                    function warn() {
                        addWarnNotify(self.$t('common.Notification.serverErrorMessage'));
                        setTimeout(warn, 5000);
                    }
                });
            }
            else {
                this.$router.push("/login");
            }
        },

        computed: {
            ...mapGetters(authNamespace, {
                accessToken: authTypes.getters.accessToken
            }),

            ...mapGetters(accountNamespace, [
                accountTypes.getters.me
            ]),

            isLoggedIn() {
                return Boolean(this.accessToken);
            },

            isReady() {
                return Boolean(this.me);
            }
        },

        methods: {
            ...mapActions(accountNamespace, {
                fetchMe: accountTypes.actions.FETCH_ME
            })
        },

        components: {
            AppPreloader: () => import("@/components/ui/AppPreloader"),
            NotificationComponent: () => import("@/components/common/Notification"),
            FullPagePreloader: () => import("@/components/common/FullPagePreloader"),
            TopSection: () => import("./sections/Top")
        }
    };
</script>
<style lang="scss">
    .app-layout {
        & {
            height: 100%;
            overflow: auto;
            width: 100%;
        }

        &__notification {
            display: flex;
            padding: rem(5);
            position: fixed;
            z-index: 1000;
        }

        &__loader {
            background: white;
            display: flex;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        &__body {
            align-items: center;
            display: flex;
            flex-direction: column;
            min-height: 100%;
            width: 100%;
        }

        &__top {
            background: #797979;
            display: flex;
            flex-shrink: 0;
            height: rem(50);
            justify-content: center;
            width: 100%;
        }

        &__main {
            align-items: flex-start;
            background: #f9f9f9;
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: rem(20);
            width: 100%;

            &:after {
                content: " ";
                display: flex;
                height: rem(20);
                width: 100%;
            }
        }

        &__content {
            box-sizing: border-box;
            display: flex;
            max-width: rem($screen-max-width);
            padding: 0 2%;
            width: 100%;
        }
    }
</style>
