<template>
    <div class="custom-select" ref="dropdown">
        <button class="input custom-select__button"
                :class="{
                    'custom-select__button_dropped': isDropped,
                    'input_error': state === $const.input.states.ERROR,
                    'input_valid': state === $const.input.states.VALID,
                }"

                @click.prevent="toggle()">
                <span class="custom-select__inner">
                    <span class="custom-select__select"
                          :class="{'custom-select__select_placeholder': !selected }">{{ selected ? selected: placeholder }}</span>
                    <span class="custom-select__arrow" v-html="require('@/assets/img/arrow_down.svg?inline')" />
                </span>
        </button>
        <div class="custom-select__dropdown-wrap"  v-show="isDropped">
            <div class="custom-select__dropdown">
                <div class="custom-select__header">
                    <div class="custom-select__title">
                        <app-title :value="title" />
                    </div>
                    <div class="custom-select__close">
                        <button @click="close" class="custom-select__close-button" v-html="require('@/assets/img/close.svg?inline')"></button>
                    </div>
                </div>
                <ul class="custom-select__options">
                    <li class="custom-select__item"
                        v-for="option in options"
                        @click="selectOption(option)" >
                        <label class="custom-select__label"
                               :class="{'custom-select__label_active': value === option.value}">
                            <input class="custom-select__checkbox"
                                   type="checkbox"
                                   :value="option.value"/>
                            <radio-button class="custom-select__radio-button" :checked="value === option.value" />
                            {{option.text}}
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    import {States} from "@/mixins/ui/input/constants";
    import dropdownMixin from "@/mixins/ui/dropdown";

    export default {
        mixins: [dropdownMixin],

        props: {
            options: {
                type: Array,
                required: true
            },
            placeholder: {
                type: String
            },
            title: {
                type: String,
                required: true
            },
            value: {},
            state: {
                type: String,
                default: States.DEFAULT,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(States, value) && States[value] === value;
                }
            }
        },

        constants: {
            input: {
                states: States
            }
        },

        methods: {
            selectOption(option) {
                this.$emit("update:value", option.value);
                this.close();
            }
        },

        computed: {
            selected() {
                let selected;
                this.options.forEach((option) => {
                    if (option.value === this.value) {
                        selected = option.text;
                    }
                });

                return selected ? selected : this.placeholder;
            }
        },

        components: {
            AppTitle: () => import("@/components/ui/AppTitle"),
            RadioButton: () => import("@/components/ui/RadioButton")
        }
    };
</script>
<style lang="scss">
    .custom-select {
        & {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;

            @media #{$less-landscape-note} {
                position: static;
            }
        }

        &__button {
            &_dropped {
                box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
            }
        }

        &__inner {
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: space-between;
            width: 100%;
        }

        &__select {
            & {
                box-sizing: border-box;
                color: $dark-grey;
                display: flex;
                font-size: rem(16);
                padding-left: rem(5);
            }

            &_placeholder {
                color: $grey;
            }
        }

        &__arrow {
            display: flex;
            fill: $grey;
            height: rem(6);
            width: rem(12);
        }

        &__dropdown-wrap {
            display: flex;
            position: absolute;
            top: rem(40);
            width: 100%;
            z-index: 10;

            @media #{$less-landscape-note} {
                align-items: center;
                background: rgba(0, 0, 0, 0.8);
                box-sizing: border-box;
                display: flex;
                height: 100%;
                justify-content: center;
                left: 0;
                margin-bottom: 0;
                max-height: none;
                max-width: 100%;
                position: fixed;
                top: 0;
                width: 100%;
            }
        }

        &__dropdown {
            background: white;
            border-radius: 0 0 rem(3) rem(3);
            box-shadow: 0 0 rem(10) rem(1) rgba(120, 116, 120, 0.26);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            max-height: rem(150);
            width: 100%;

            @media #{$less-landscape-note} {
                border-radius: rem(7);
                box-sizing: border-box;
                max-height: 90%;
                max-width: 90%;
                padding-bottom: rem(10);
            }
        }

        &__header {
            display: none;

            @media #{$less-landscape-note} {
                align-items: center;
                box-sizing: border-box;
                display: flex;
                flex-grow: 1;
                padding: rem(15);
            }
        }

        &__title {
            display: flex;
            flex-grow: 1;
        }

        &__close {
            display: flex;
            flex-shrink: 0;
            height: rem(22);
            padding: 0 rem(5);
            width: rem(22);
        }

        &__close-button {
            & {
                background: none;
                height: 100%;
                width: 100%;

                svg {
                    fill: $grey;
                }
            }

            &:hover {
                svg {
                    cursor: pointer;
                    fill: $dark-grey;
                }
            }

            &:focus {
                svg {
                    cursor: pointer;
                    fill: $blue;
                }
            }
        }

        &__options {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            width: 100%;

            @media #{$less-landscape-note} {
                border-bottom: rem(1) solid $middle-grey;
                border-top: rem(1) solid $middle-grey;
            }
        }

        &__item {
            display: flex;
            flex-shrink: 0;
            width: 100%;
        }

        &__checkbox {
            display: none;
        }

        &__radio-button {
            display: none;

            @media #{$less-landscape-note} {
                display: flex;
                margin-right: rem(10);
            }
        }

        &__label {
            & {
                align-items: center;
                border-bottom: rem(1) solid $middle-grey;
                box-sizing: border-box;
                color: $dark-grey;
                display: flex;
                height: rem(30);
                padding: 0 rem(4);
                width: 100%;
            }

            &:hover {
                background: linear-gradient(#ebebf2, #f4f4fb);
                cursor: pointer;
            }

            &:active {
                background: linear-gradient(#bebec4, #bcbcc2);
            }

            &_active {
                background: linear-gradient(#e1e1e8, #dddde3);
            }

            @media #{$less-landscape-note} {
                & {
                    border: none;
                    box-sizing: border-box;
                    padding: rem(17) rem(15);
                }

                &:hover {
                    background: none;
                    cursor: pointer;
                }

                &:active {
                    background: none;
                }

                &_active {
                    background: none;
                }
            }
        }
    }
</style>
