<template>
    <div class="label">
        {{ title }} <app-star v-if="required" />
    </div>
</template>
<script>
    export default {
        props: {
            title: {
                type: String,
                required: true
            },
            required: {
                type: Boolean,
                default: false
            }
        },

        components: {AppStar: () => import("@/components/ui/AppStar")}
    };
</script>
<style lang="scss">
    .label {
        color: #888;
        display: flex;
        font-size: rem(14);
        font-weight: bold;
        width: 100%;
    }
</style>


