<template>
    <div class="block">
        <div class="block__header" v-if="hasHeaderSlot">
            <slot name="header" />
        </div>
        <div class="block__body">
            <slot />
        </div>
    </div>
</template>
<script>
    export default {
        computed: {
            hasHeaderSlot() {
                return Boolean(this.$slots.header);
            }
        }
    };
</script>
<style lang="scss">
    .block {
        & {
            background: white;
            border: rem(1) solid whitesmoke;
            border-radius: rem(7);
            box-shadow: 0 rem(3) rem(3) rem(1) rgba(173, 167, 173, 0.26);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            justify-content: flex-start;
            width: 100%;
        }

        &__header,
        &__body {
            box-sizing: border-box;
            display: flex;
            padding: rem(15) rem(15);
            width: 100%;
        }

        &__header {
            border-bottom: rem(1) solid $middle-grey;
        }
    }
</style>
