<template>
    <app-block>
        <grid-layout>
            <grid-row>
                <grid-item>
                    <test-credentials />
                </grid-item>
            </grid-row>
            <grid-row>
                <grid-item>
                    <app-input :title="$t('pages.Login.index.form.credentialsDto.email.title')"
                               :value.sync="form.credentialsDto.email"
                               :validation="$v.form.credentialsDto.email" />
                </grid-item>
            </grid-row>
            <grid-row>
                <grid-item>
                    <app-input :title="$t('pages.Login.index.form.credentialsDto.password.title')"
                               :input-type="$const.input.types.PASSWORD"
                               :value.sync="form.credentialsDto.password"
                               :validation="$v.form.credentialsDto.password" />
                </grid-item>
            </grid-row>
            <grid-row  v-if="showCaptcha">
                <grid-item>
                    <app-captcha
                            ref="recaptcha"
                            :response.sync="form.captchaResponse"
                            :validation="$v.form.captchaResponse"/>
                </grid-item>
            </grid-row>
            <grid-row>
                <grid-item>
                    <app-button @click.prevent.native="login"
                                :size="$const.button.sizes.FILL_AREA"
                                :text-align="$const.button.textAligns.CENTER">
                        {{ $t('pages.Login.index.buttons.login') }}
                    </app-button>
                </grid-item>
            </grid-row>
            <grid-row v-if="errorMessage">
                <grid-item>
                    <app-error :value="errorMessage" />
                </grid-item>
            </grid-row>
            <grid-row>
                <grid-item :align="$const.grid.aligns.RIGHT">
                    <app-link :value="$t('pages.Login.index.bottom.restorePassword.link')"
                              :link="{name: 'RestorePasswordRequest'}"/>
                </grid-item>
            </grid-row>
            <grid-row>
                <grid-item :align="$const.grid.aligns.RIGHT">
                    <app-text>
                        {{ $t('pages.Login.index.bottom.registration.text') }}
                        <app-link :value="$t('pages.Login.index.bottom.registration.link')" :link="{name: 'Registration'}"/>
                    </app-text>
                </grid-item>
            </grid-row>
        </grid-layout>
    </app-block>
</template>
<script>
    import {Types} from "@/components/ui/PureInput/constants";
    import {validationMixin, withParams} from "vuelidate";
    import {required} from "vuelidate/lib/validators";
    import {email, password} from "@/features/validators";
    import {mapActions, mapGetters} from "vuex";
    import {namespace as authNamespace, Types as authTypes} from "@/store/auth/const";
    import {Size, TextAlign} from "@/components/ui/AppButton/constants";
    import {Align} from "@/components/ui/Grid/constants";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        mixins: [validationMixin],

        data() {
            return {
                form: {
                    credentialsDto: {
                        email: null,
                        password: null,
                    },
                    captchaResponse: null,
                },

                errorMessage: null
            };
        },

        constants: {
            input: {
                types: Types
            },
            button: {
                textAligns: TextAlign,
                sizes: Size
            },
            grid: {
                aligns: Align
            }
        },

        validations() {
            const properties = {
                form: {
                    credentialsDto: {
                        email: {
                            required: withParams({msg: this.$t("pages.Login.index.form.credentialsDto.email.validations.required")}, required),
                            email: withParams({msg: this.$t("pages.Login.index.form.credentialsDto.email.validations.email")}, email)
                        },
                        password: {
                            required: withParams({msg: this.$t("pages.Login.index.form.credentialsDto.password.validations.required")}, required),
                            password: withParams({msg: this.$t("pages.Login.index.form.credentialsDto.password.validations.password")}, password)
                        }
                    }
                }

            };

            if (this.showCaptcha) {
                properties.form.captchaResponse = {
                    required
                };
            }

            return properties;
        },

        async created() {
            this.initCaptcha();
        },

        computed: {
            ...mapGetters(authNamespace, {showCaptcha: authTypes.getters.showCaptcha})
        },

        methods: {
            ...mapActions(authNamespace, {
                authorize: authTypes.actions.AUTHORIZE,
                initCaptcha: authTypes.actions.INIT_CAPTCHA
            }),

            login() {
                this.$v.form.$touch();
                if (this.$v.form.$invalid) {
                    return;
                }
                preloaderService.showPreloader();
                this.authorize(this.form).then(() => {
                    preloaderService.hidePreloader();
                    this.$router.push({name : "Account"});
                }).catch((error) => {
                    if(this.showCaptcha) {
                        this.$refs.recaptcha.resetCaptcha();
                    }
                    this.initCaptcha();
                    this.$v.form.$reset();
                    const msg = error.response.data.error_description;
                    if(!msg) {
                        throw new Error();
                    }
                    this.errorMessage = msg;
                    preloaderService.hidePreloader();
                }).catch(() => {
                    preloaderService.hidePreloader();
                    this.errorMessage = this.$t("pages.Login.index.errorMessage");
                });
            }
        },

        components: {
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            AppBlock: () => import("@/components/ui/AppBlock"),
            AppError: () => import("@/components/ui/AppError"),
            AppLink: () => import("@/components/ui/AppLink"),
            AppText: () => import("@/components/ui/AppText"),
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            GridRow: () => import("@/components/ui/Grid/row.vue"),
            AppCaptcha: () => import("@/components/ui/AppCaptcha"),
            TestCredentials: () => import("./components/test-credentials.vue")
        }

    };
</script>
