<template>
    <button class="button" :class="[getThemeClass, getTextAlignClass, getSizeClass]">
        <span>
            <slot />
        </span>
    </button>
</template>
<script>
    import {Size, TextAlign, Themes} from "./constants";

    export default {
        props: {
            theme: {
                type: String,
                default: Themes.BLUE,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(Themes, value) && Themes[value] === value;
                }
            },

            textAlign: {
                type: String,
                default: TextAlign.LEFT,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(TextAlign, value) && TextAlign[value] === value;
                }
            },

            size: {
                type: String,
                default: Size.STANDARD,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(Size, value) && Size[value] === value;
                }
            }
        },

        computed: {
            getThemeClass() {
                switch (this.theme) {
                    case Themes.BLUE:
                        return "button_blue";
                    case Themes.LIGHT:
                        return "button_light";
                    case Themes.WHITE:
                        return "button_white";
                    default:
                        return "button_blue";
                }
            },

            getTextAlignClass() {
                switch (this.textAlign) {
                    case TextAlign.LEFT:
                        return "button_text-left";
                    case TextAlign.CENTER:
                        return "button_text-center";
                    default:
                        return "button_text-left";
                }
            },

            getSizeClass() {
                switch (this.size) {
                    case Size.STANDARD:
                        return "button_size-standard";
                    case Size.FILL_AREA:
                        return "button_size-fill-area";
                    default:
                        return "button_size-standard";
                }
            }
        }
    };
</script>
<style lang="scss">
    .button {
        & {
            display: block;
            font-size: rem(15);
            padding: rem(8) rem(15);
        }

        span {
            display: flex;
            flex-grow: 1;
        }

        //SIZE
        &_size-fill-area {
            height: 100%;
            width: 100%;
        }

        //TEXT ALIGN
        &_text-center {
            span {
                justify-content: center;
            }
        }

        //THEMES
        &_blue {
            & {
                background: $blue;
                border-radius: rem(7);
                color: white;
                font-weight: bold;
            }

            &:hover {
                background: $middle-blue;
                cursor: pointer;
            }

            &:active {
                background: $dark-blue;
            }
        }

        &_light {
            & {
                background: white;
                border: rem(1) solid $middle-grey;
                border-bottom-width: rem(2);
                border-radius: rem(7);
                color: $grey;
                font-weight: bold;
            }

            &:hover {
                color: $blue;
                cursor: pointer;
            }

            &:active {
                color: $dark-blue;
            }
        }

        &_white {
            & {
                background: none;
                border: none;
                color: white;
                font-weight: bold;
            }

            &:hover {
                color: $light-grey;
                cursor: pointer;
            }

            &:active {
                color: $grey;
            }
        }
    }
</style>
