<script type="text/jsx">
    import input from "@/mixins/ui/input";
    import {Types} from "./constants";
    import {States} from "@/mixins/ui/input/constants";

    export default {
        props: {
            inputType: {
                type: String,
                default: Types.TEXT,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(Types, value) && Types[value] === value;
                }
            },
            state: {
                type: String,
                default: States.DEFAULT,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(States, value) && States[value] === value;
                }
            },
            value: {
                type: String
            },

            placeholder: {
                type: String
            }
        },

        methods: {
            update(event) {
                const value = event.target.value.trim();
                this.$emit("update:value", value);
            }
        },

        render (h) {
            const inputAttributes = {
                attrs: {
                    placeholder: this.placeholder,
                },

                class: {
                    input: true,
                    input_error: this.state === States.ERROR,
                    input_valid: this.state === States.VALID
                },

                on: {
                    blur: this.update
                }
            };

            if (this.inputType === Types.TEXTAREA) {
                inputAttributes.class.input_area = true;
                return <textarea {...inputAttributes}>{ this.value }</textarea>;
            }
            else {
                inputAttributes.attrs.value = this.value;
                inputAttributes.attrs.type = getType(this.inputType);
                return <input {...inputAttributes}/>;
            }
        }
    };

    function getType(inputType) {
        if(!inputType) {
            return "text";
        }

        switch (inputType) {
            case Types.PASSWORD:
                return "password";
            default:
                return "text";
        }
    }
</script>
