.input {
  & {
    background: white;
    border: rem(1) solid $middle-grey;
    border-bottom-width: rem(2);
    box-sizing: border-box;
    display: flex;
    font-size: rem(16);
    padding: 0 rem(4);
    height: rem(40);
    width: 100%;
  }

  &:focus {
    border-bottom-color: $blue;
    outline: none;
  }

  &_read-only {
    background: #ebebe4;
    pointer-events: none;
  }

  &_area {
    height: rem(100);
    max-height: rem(250);
    min-height: rem(100);
    resize: vertical;
  }

  &_center {
    text-align: center;
    justify-content: center;
  }

  &_error {
    border-bottom-color: crimson;
  }

  &_valid {
    border-bottom-color: green;
  }
}
