<template>
    <div class="anonymous-layout">
        <div class="anonymous-layout__body">
            <div class="anonymous-layout__main">
                <router-view />
            </div>
        </div>
        <full-page-preloader />
    </div>
</template>
<script>
    import {mapGetters} from "vuex";
    import {namespace as authNamespace, Types as authTypes} from "@/store/auth/const";

    export default {
        created() {
            if (this.isLoggedIn) {
                this.$router.push({name : "Account"});
            }
        },

        computed: {
            ...mapGetters(authNamespace, {
                accessToken: authTypes.getters.accessToken
            }),

            isLoggedIn() {
                return Boolean(this.accessToken);
            }
        },

        components: {
            FullPagePreloader: () => import("@/components/common/FullPagePreloader"),
        }
    };
</script>
<style lang="scss">
    .anonymous-layout {
        & {
            height: 100%;
            overflow: auto;
            width: 100%;
        }

        &__body {
            align-items: center;
            background: #f9f9f9;
            display: flex;
            flex-direction: column;
            min-height: 100%;
            width: 100%;
        }

        &__main {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            justify-content: center;
            max-width: rem(480);
            padding: rem(20);
            width: 96%;
        }
    }
</style>
