<template>
    <div class="top-profile">
        <app-button @click.prevent.native="logout"
                    :theme="$const.button.themes.WHITE"
                    :size="$const.button.sizes.FILL_AREA"
                    :text-align="$const.button.textAligns.CENTER">
            {{$t('components.layouts.AppLayout.sections.Top.TopProfile.logout')}}
        </app-button>
    </div>
</template>
<script>
    import {Size, TextAlign, Themes} from "@/components/ui/AppButton/constants";
    import {mapActions} from "vuex";
    import {namespace as authNamespace, Types as authTypes} from "@/store/auth/const";

    export default {

        methods: {
            ...mapActions(authNamespace, {
                logoutAction: authTypes.actions.LOGOUT
            }),

            logout() {

                this.logoutAction().then(() => {
                    this.$router.push({name: "Login"});
                }).catch((error => {
                    console.log(error);
                }))
            }
        },

        constants: {
            button: {
                themes: Themes,
                textAligns: TextAlign,
                sizes: Size
            }
        },

        components: {
            AppButton: () => import("@/components/ui/AppButton"),
        }
    }
</script>
<style lang="scss">

    .top-profile {
        & {
            display: flex;
            flex-grow: 1;
        }
    }

</style>