<template>
    <input-block :title="title" :required="required" :errors="getErrors">
        <div class="date-input">
            <div class="date-input__day">
                <pure-select :options="getDays"
                                    :value.sync="date.day"
                                    :title="$t('components.ui.DateInput.day.title')"
                                    :placeholder="$t('components.ui.DateInput.day.placeholder')"
                                    :state="state"
                                    @change.native="syncUpdateAndTouch()"/>
            </div>
            <div class="date-input__month">
                <pure-select :options="$utils.i18nTransformOptions($const.dateInput.month.options, this)"
                                    :value.sync="date.month"
                                    :title="$t('components.ui.DateInput.month.title')"
                                    :placeholder="$t('components.ui.DateInput.month.placeholder')"
                                    :state="state"
                                    @change.native="syncUpdateAndTouch()"/>
            </div>
            <div class="date-input__year">
                <pure-select :options="getYears"
                                    :value.sync="date.year"
                                    :title="$t('components.ui.DateInput.year.title')"
                                    :placeholder="$t('components.ui.DateInput.year.placeholder')"
                                    :state="this.state"
                                    @change.native="syncUpdateAndTouch()"/>
            </div>
        </div>
    </input-block>
</template>
<script>
    import {i18nTransformOptions} from "@/features/utils/SelectUtils";
    import {BIRTHDAY, MONTHS_OPTIONS} from "./constants";
    import input from "@/mixins/ui/input";

    export default {
        mixins: [input],

        props: {
            startYear: {
                type: Number,
                default: BIRTHDAY.startYear
            },
            lastYear: {
                type: Number,
                default: BIRTHDAY.lastYear
            }
        },

        constants: {
            dateInput: {
                month: {
                    options: MONTHS_OPTIONS
                }
            }
        },

        utils: {
            i18nTransformOptions
        },

        data() {
            return {
                date: {
                    day: 1,
                    month: 1,
                    year: this.lastYear
                }
            };
        },

        created() {
            this.initDate(this.value);
            this.syncUpdate();
        },

        watch: {
            value(dateFormat) {
                this.initDate(dateFormat);
            }
        },

        methods: {
            initDate(dateFormat) {
                if (dateFormat) {
                    const parts = this.value.split("-");

                    this.date.day = parseInt(parts[2], 10);
                    this.date.month = parseInt(parts[1], 10);
                    this.date.year = parseInt(parts[0], 10);
                }
            },

            syncUpdate() {
                this.validateYear();
                this.validateMonth();
                this.validateDay();
                this.$emit("update:value", this.getFormatDate());
            },

            syncUpdateAndTouch() {
                this.syncUpdate();
                if (this.validation) {
                    this.validation.$touch();
                }
            },

            validateYear() {
                if (this.date.year < this.startYear) {
                    this.date.year = this.startYear;
                }
                else if (this.date.year > this.lastYear) {
                    this.date.year = this.lastYear;
                }
            },

            validateMonth() {
                if (this.date.month < 1) {
                    this.date.month = 1;
                }
                else if (this.date.month > 12) {
                    this.date.month = 12;
                }
            },

            validateDay() {
                if (this.date.day > this.getDaysInMonth) {
                    this.date.day = this.getDaysInMonth;
                }
                else if (this.date.day < 1) {
                    this.date.day = 1;
                }
            },

            getFormatDate() {
                const day = this.date.day;
                const month = this.date.month;
                const year = this.date.year;

                return `${year}-${zeroPad(month, 2)}-${zeroPad(day, 2)}`;
            }
        },

        computed: {
            getYears() {
                let last = this.lastYear;
                const years = [];

                while ( last >= this.startYear ) {
                    years.push({
                        text: last,
                        value: last
                    });
                    last -= 1;
                }

                return years;
            },

            getDays() {
                let day = 1;
                const days = [];

                while (day <= this.getDaysInMonth) {
                    days.push({
                        text: day,
                        value: day
                    });
                    day += 1;
                }

                return days;
            },

            getDaysInMonth() {
                const date = this.date;

                return new Date(date.year,
                    date.month,
                    0).getDate();
            }
        },

        components: {
            PureSelect: () => import("@/components/ui/PureSelect")
        }
    };

    function zeroPad(num, places) {
        const zero = places - num.toString().length + 1;

        return Array(Number(zero > 0 && zero)).join("0") + num;
    }
</script>
<style lang="scss">
    .date-input {
        & {
            display: flex;
            width: 100%;
        }

        &__day {
            min-width: rem(50);
            width: 15%;
        }

        &__month {
            display: flex;
            flex-grow: 1;
        }

        &__year {
            min-width: rem(80);
            width: 25%;
        }
    }
</style>
