<template>
    <modal-wrap>
        <div class="default-modal"  @click.self="close">
            <div class="default-modal__content" :class="getTypeClass">
                <div class="default-modal__header">
                    <div class="default-modal__title">
                        <app-title :value="title" />
                    </div>
                    <div class="default-modal__close">
                        <button @click="close" class="default-modal__close-button" v-html="require('@/assets/img/close.svg?inline')"></button>
                    </div>
                </div>
                <div class="default-modal__body">
                    <slot />
                </div>
            </div>
        </div>
    </modal-wrap>
</template>
<script>
    import {between} from "@/features/utils/NumberUtils";

    export default {
        props: {
            title: {
                type: String,
                required: true
            },

            active: {
                type: Boolean,
                required: true
            },

            type: {
                type: Number,
                default: 1,
                validator: (value) => between(value, 1, 2)
            }
        },

        computed: {
            getTypeClass() {
                switch (this.type) {
                    case 2:
                        return "default-modal__content_2";
                    default:
                        return null;
                }
            }
        },

        methods: {
            close() {
                this.$emit("update:active", false);
            }
        },

        components: {
            ModalWrap: () => import("@/components/ui/ModalWrap"),
            AppTitle: () => import("@/components/ui/AppTitle")
        }
    };
</script>
<style lang="scss">
    .default-modal {
        & {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            max-height: 100vh;
        }

        &__content {
            & {
                background: white;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                max-width: rem(650);
                overflow-y: auto;
                padding: rem(30);
                width: 100%;
            }

            &_2 {
                max-width: rem(400);
            }
        }

        &__header {
            align-items: center;
            display: flex;
            flex-grow: 1;
        }

        &__title {
            display: flex;
            flex-grow: 1;
        }

        &__close {
            display: flex;
            flex-shrink: 0;
            height: rem(22);
            padding: 0 rem(5);
            width: rem(22);
        }

        &__close-button {
            & {
                background: none;
                height: 100%;
                width: 100%;

                svg {
                    fill: $grey;
                }
            }

            &:hover {
                svg {
                    cursor: pointer;
                    fill: $dark-grey;
                }
            }

            &:focus {
                svg {
                    cursor: pointer;
                    fill: $blue;
                }
            }
        }

        &__body {
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            padding-top: rem(35);
        }
    }
</style>
