<template>
    <grid-layout v-if="stage === $const.stages.FORM">
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.Registration.Index.index.form.registrationDto.name.title')"
                           :value.sync="form.registrationDto.name"
                           :validation="$v.form.registrationDto.name"
                           :server-errors.sync="serverErrors.name"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.Registration.Index.index.form.registrationDto.email.title')"
                           :value.sync="form.registrationDto.email"
                           :validation="$v.form.registrationDto.email"
                           :server-errors.sync="serverErrors.email"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.Registration.Index.index.form.registrationDto.password.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="form.registrationDto.password"
                           :validation="$v.form.registrationDto.password"
                           :server-errors.sync="serverErrors.password"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.Registration.Index.index.form.registrationDto.confirmPassword.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="form.registrationDto.confirmPassword"
                           :validation="$v.form.registrationDto.confirmPassword"
                           :server-errors.sync="serverErrors.confirmPassword"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-captcha
                        ref="recaptcha"
                        :response.sync="form.captchaResponse"
                        :validation="$v.form.captchaResponse"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-button @click.prevent.native="registration"
                            :size="$const.button.sizes.FILL_AREA"
                            :text-align="$const.button.textAligns.CENTER">
                    {{ $t('pages.Registration.Index.index.buttons.registration') }}
                </app-button>
            </grid-item>
        </grid-row>
        <grid-row v-if="errorMessage">
            <grid-item>
                <app-error :value="errorMessage" />
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item :align="$const.grid.aligns.RIGHT">
                <app-text>
                    {{ $t('pages.Registration.Index.index.bottom.login.text') }}
                    <app-link :value="$t('pages.Registration.Index.index.bottom.login.link')" :link="{name: 'Login'}"/>
                </app-text>
            </grid-item>
        </grid-row>
    </grid-layout>
    <grid-layout v-else-if="stage === $const.stages.SUCCESS">
        <grid-row>
            <grid-item>
                <app-title :value="success.title" v-if="success.title" />
            </grid-item>
            <grid-item>
                <app-text>
                    {{ success.message }}
                </app-text>
            </grid-item>
            <grid-item>
                <app-text>
                    {{ $t('pages.Registration.Index.index.success.login.text') }}
                    <app-link :value="$t('pages.Registration.Index.index.success.login.link')" :link="{name: 'Login'}"/>
                </app-text>
            </grid-item>
        </grid-row>
    </grid-layout>
</template>
<script>
    import {Types} from "@/components/ui/PureInput/constants";
    import {validationMixin, withParams} from "vuelidate";
    import {required, sameAs} from "vuelidate/lib/validators";
    import {email, password} from "@/features/validators";
    import {mapActions} from "vuex";
    import {namespace as registrationNamespace, Types as registrationTypes} from "@/store/registration/const";
    import errorHandler from "@/mixins/common/errorHandler";
    import {Stages} from "./constants";
    import {Size, TextAlign} from "@/components/ui/AppButton/constants";
    import {Align} from "@/components/ui/Grid/constants";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        mixins: [validationMixin, errorHandler],

        data() {
            return {
                form: {
                    registrationDto: {
                        name: null,
                        email: null,
                        password: null,
                        confirmPassword: null
                    },
                    captchaResponse: null
                },

                errorMessage: null,

                stage: Stages.FORM,

                success: {
                    title: null,
                    message: null
                }
            };
        },

        constants: {
            input: {
                types: Types
            },
            button: {
                textAligns: TextAlign,
                sizes: Size
            },
            stages: Stages,
            grid: {
                aligns: Align
            }
        },

        validations() {
            return {
                form: {
                    registrationDto: {
                        name: {
                            required: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.name.validations.required")}, required),
                        },
                        email: {
                            required: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.email.validations.required")}, required),
                            email: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.email.validations.email")}, email)
                        },
                        password: {
                            required: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.password.validations.required")}, required),
                            password: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.password.validations.password")}, password)
                        },
                        confirmPassword: {
                            required: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.confirmPassword.validations.required")}, required),
                            sameAs: withParams({msg: this.$t("pages.Registration.Index.index.form.registrationDto.confirmPassword.validations.sameAs")}, sameAs("password"))
                        }
                    },
                    captchaResponse: {
                        required
                    }
                }

            };
        },

        methods: {
            ...mapActions(registrationNamespace, {
                registrationAction: registrationTypes.actions.REGISTRATION
            }),

            registration() {
                this.$v.form.$touch();
                if (this.$v.form.$invalid) {
                    return;
                }
                preloaderService.showPreloader();
                this.registrationAction(this.form).then((response) => {
                    preloaderService.hidePreloader();
                    this.success = response.data.notice;
                    this.stage = Stages.SUCCESS;
                }).catch((error)=>{
                    this.$refs.recaptcha.resetCaptcha();
                    if(error.response.status === 400) {
                        this.handleErrors(error);
                    }
                    const msg =  error.response.data.message;
                    if(!msg) {
                        throw new Error();
                    }
                    this.errorMessage = msg;
                    preloaderService.hidePreloader();
                }).catch(() => {
                    preloaderService.hidePreloader();
                    this.errorMessage = this.$t("pages.Registration.Index.index.errorMessage");
                })
            }
        },

        components: {
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            AppError: () => import("@/components/ui/AppError"),
            AppTitle: () => import("@/components/ui/AppTitle"),
            AppBlock: () => import("@/components/ui/AppBlock"),
            AppLink: () => import("@/components/ui/AppLink"),
            AppText: () => import("@/components/ui/AppText"),
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            GridRow: () => import("@/components/ui/Grid/item.vue"),
            AppCaptcha: () => import("@/components/ui/AppCaptcha")
        }

    };
</script>
