<template>
    <input-block :title="title" :required="required" :errors="getErrors">
        <pure-select :options="options"
                            :value.sync="localValue"
                            :placeholder="placeholder"
                            :title="title"
                            :state="state"
                            @change.native="update"/>
    </input-block>
</template>
<script>
    import input from "@/mixins/ui/input";

    export default {
        mixins: [input],

        props: {
            options: {
                type: Array,
                required: true
            }
        },

        data() {
            return {
                localValue: this.value
            };
        },

        methods: {
            update() {
                this.$emit("update:value", this.localValue);
                if (this.validation) {
                    this.validation.$touch();
                }
            }
        },

        components: {
            PureSelect: () => import("@/components/ui/PureSelect")
        }
    };
</script>
