<template>
    <app-block class="account-me">
        <template slot="header" class="account-me__header">
            <div class="account-me__avatar">
                <avatar-component :light="100" :username="getFullName" />
            </div>
            <div class="account-me__title">
                <app-title :value="getFullName" />
            </div>
            <div class="account-me__context-menu">
                <context-menu :items="items" />
                <edit-personal-modal />
                <change-password-modal />
            </div>
        </template>
        <template>
            <div class="account-me__details">
                <details-table :rows="getDetails" />
            </div>
        </template>
    </app-block>
</template>
<script>
    import {mapGetters} from "vuex";
    import {namespace as accountNamespace, Types as accountTypes} from "@/store/account/const";
    import {SHOW_PASSWORD_MODAL, SHOW_PERSONAL_MODAL} from "./constants";

    export default {

        data() {
            return {
                items: [
                    {
                        value: this.$t("pages.Account.index.ctxMenu.showPersonalModal"),
                        action: SHOW_PERSONAL_MODAL
                    },
                    {
                        value: this.$t("pages.Account.index.ctxMenu.showPasswordModal"),
                        action: SHOW_PASSWORD_MODAL
                    }
                ]
            };
        },

        computed: {
            ...mapGetters(accountNamespace, [
                accountTypes.getters.me
            ]),

            getDetails() {
                return [
                    {
                        title: this.$t("pages.Account.index.details.email.title"),
                        value: this.me.email,
                        alt: this.$t("pages.Account.index.details.email.alt"),
                        link: `mailto:${this.me.email}`
                    },
                    {
                        title: this.$t("pages.Account.index.details.mobile.title"),
                        value: this.me.phoneNumber,
                        alt: this.$t("pages.Account.index.details.mobile.alt")
                    },
                    {
                        title: this.$t("pages.Account.index.details.birthday.title"),
                        value: this.getBirthday,
                        alt: this.$t("pages.Account.index.details.birthday.alt")
                    },
                    {
                        underscore: true
                    },
                    {
                        title: this.$t("pages.Account.index.details.note.title"),
                        value: this.me.note,
                        alt: this.$t("pages.Account.index.details.note.alt"),
                    },
                ];
            },

            getFullName() {
                return this.me.surname ? `${this.me.name} ${this.me.surname}`
                    : this.me.name;
            },

            getBirthday() {
                try {
                    return this.$d(new Date(this.me.birthday), 'short');
                }
                catch (e) {
                    return null;
                }
            }
        },

        components: {
            ContextMenu: () => import("@/components/ui/ContextMenu"),
            AvatarComponent: () => import("vue-avatar"),
            AppBlock: () => import("@/components/ui/AppBlock"),
            AppTitle: () => import("@/components/ui/AppTitle"),
            AppInput: () => import("@/components/ui/AppInput"),
            DetailsTable: () => import("@/components/ui/DetailsTable"),
            DefaultModal: () => import("@/components/ui/DefaultModal"),
            EditPersonalModal: () => import("./modals/editPersonal.vue"),
            ChangePasswordModal: () => import("./modals/changePassword.vue")
        }
    };
</script>
<style lang="scss">
    .account-me {
        &__avatar {
            display: flex;
        }

        &__title {
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            padding: 0 rem(15);
        }

        &__context-menu {
            align-items: center;
            display: flex;
        }

        &__details {
            display: flex;
            width: 100%;
        }

        &__details-table {
            display: flex;
            width: 100%;
        }
    }
</style>
