<template>
    <div class="grid-item"
         :class="[getTypeClass, getAlign]">
        <slot />
    </div>
</template>
<script>
    import {between} from "@/features/utils/NumberUtils";
    import {Align} from "./constants";


    export default {
        props: {
            type: {
                type: Number,
                default: 1,
                validator: (value) => between(value, 1, 3)
            },
            align: {
                type: String,
                default: Align.LEFT,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(Align, value) && Align[value] === value;
                }
            },
        },

        computed: {
            getTypeClass() {
                switch (this.type) {
                    case 2:
                        return "grid-item_2";
                    case 3:
                        return "grid-item_3";
                    default:
                        return null;
                }
            },

            getAlign() {
                switch (this.align) {
                    case Align.CENTER:
                        return "grid-item_center";
                    case Align.RIGHT:
                        return "grid-item_right";
                    default:
                        return null;
                }
            }
        }
    };
</script>
<style lang="scss">
    .grid-item {
        & {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: rem(12);
            width: 100%;
        }

        // Size
        &_2 {
            width: 48%;

            @media #{$less-landscape-note} {
                width: 100%;
            }
        }

        &_3 {
            width: 32%;

            @media #{$less-landscape-note} {
                width: 100%;
            }
        }

        // Align
        &_right {
            justify-content: flex-end;
        }

        &_center {
            justify-content: center;
        }
    }
</style>
