<template>
    <div class="grid-layout">
        <slot />
    </div>
</template>

<script>
    export default {};
</script>

<style lang="scss">
    .grid-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
</style>