<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<a th:href="@{${frontendUrl} + '/registration/confirm'(userId=${userId}, confirmCode = ${confirmCode})}">
    Подтвердить регистрацию</a>
</body>
</html>
