<template>
    <router-link :to="link" class="link">
        {{ value }}
    </router-link>
</template>
<script>
    export default {
        props: {
            value: {
                type: String,
                required: true
            },
            link: {
                type: [String, Object],
                required: true
            }
        }
    };
</script>
<style lang="scss">
    .link {
        & {
            color: $blue;
            display: inline-block;
            font-size: rem(14);
        }

        &:hover {
            color: crimson;
        }
    }
</style>
