<template>
    <button class="close" v-html="require('@/assets/img/close.svg?inline')"
            :class="additionalClass"/>
</template>
<script>
    export default {
        props: {
            additionalClass: {
                type: String
            }
        }
    };
</script>
<style lang="scss">
    .close {
        & {
            & {
                background: none;
                display: block;
                fill: white;
                float: left;
                max-height: 100%;
                max-width: 100%;
            }

            &:hover {
                cursor: pointer;
                fill: $middle-grey;
            }

            &:active {
                fill: $grey;
            }
        }

        &_modal-panel {
            @media #{$less-landscape-note} {
                & {
                    fill: $grey;
                }

                &:active,
                &:hover {
                    fill: $dark-grey;
                }
            }
        }
    }
</style>
