<template>
    <div class="context-menu" ref="dropdown">
        <button class="context-menu__toggle-button" v-html="require('@/assets/img/context-menu.svg?inline')" @click.prevent="toggle()"/>
        <div class="context-menu__dropdown" v-show="isDropped">
            <button class="context-menu__button" @click="callAndClose(item.action)" v-for="item in items">
                <span>{{ item.value }}</span>
            </button>
        </div>
    </div>
</template>
<script>
    import dropdownMixin from "@/mixins/ui/dropdown";

    export default {
        mixins: [dropdownMixin],
        props: {
            items: {
                type: Array,
                required: true
            }
        },

        methods: {
            callAndClose(action) {
                this.$eventHub.$emit("ctx-menu__clicked", action);
                this.close();
            }
        }
};
</script>
<style lang="scss">
    .context-menu {
        & {
            background: none;
            display: flex;
            position: relative;
        }

        &__toggle-button {
            & {
                background: none;
                border: rem(1) solid transparent;
                border-radius: rem(3);
                height: rem(30);
                padding: rem(5);
                width: rem(30);

                svg {
                    fill: $blue;
                    height: 100%;
                }
            }

            &:hover {
                border-color: $middle-grey;
                box-sizing: border-box;
                cursor: pointer;
            }
        }

        &__button {
            & {
                background: white;
                border-bottom: rem(1) solid $middle-grey;
                box-sizing: border-box;
                padding: rem(10) 0;
                text-align: left;
            }

            &:hover {
                color: $blue;
                cursor: pointer;
            }

            &:focus {
                color: crimson;
            }
        }

        &__dropdown {
            background: white;
            border: rem(1) solid $middle-grey;
            border-radius: rem(7);
            box-shadow: 0 rem(3) rem(3) rem(1) rgba(173, 167, 173, 0.26);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: rem(5);
            position: absolute;
            right: 0;
            top: 0;
            width: rem(150);
        }
    }
</style>


