<template>
    <div class="top">
        <div class="top__top-profile">
            <top-profile />
        </div>
    </div>
</template>
<script>
    export default {
        components: {
            TopProfile: () => import("./components/TopProfile.vue")
        }
    };
</script>
<style lang="scss">
    .top {
        & {
            box-sizing: border-box;
            display: flex;
            height: 100%;
            justify-content: flex-end;
            width: 100%;
        }

        &__top-profile {
            display: flex;
            height: 100%;
        }
    }
</style>
