<template>
    <span class="error">
        {{ value }}
    </span>
</template>
<script>
    export default {
        props: {
            value: {
                type: String,
                required: true
            }
        }
    };
</script>
<style lang="scss">
    .error {
        color: crimson;
        display: flex;
        margin-top: rem(4);
        width: 100%;
    }
</style>
