<template>
    <div class='modal-wrap'
         :class="getAlignItemsClass">
        <slot />
    </div>
</template>
<script>
    import {AlignItems} from "./constants";

    export default {
        props: {
            alignItems: {
                type: String,
                default: AlignItems.CENTER,
                validator(value) {
                    return Object.prototype.hasOwnProperty.call(AlignItems, value) && AlignItems[value] === value;
                }
            }
        },

        mounted() {
            document.body.classList.toggle("body_not-scroll");
        },

        beforeDestroy() {
            document.body.classList.toggle("body_not-scroll");
        },

        computed: {
            getAlignItemsClass() {
                switch (this.alignItems) {
                    case AlignItems.CENTER:
                        return "modal-wrap_center";
                    case AlignItems.START:
                        return "modal-wrap_start";
                    default:
                        return "modal-wrap_center";
                }
            }
        }
    };
</script>
<style lang="scss">
    .modal-wrap {
        & {
            background: rgba(0, 0, 0, 0.8);
            box-sizing: border-box;
            display: flex;
            height: 100%;
            left: 0;
            max-width: 100%;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 5;
        }

        &_center {
            align-items: center;
        }

        &_start {
            align-items: flex-start;
        }
    }
</style>
