<template>
    <default-modal v-if="active" :title="$t('pages.Account.modals.changePassword.title')" :active.sync="active" :type="2">
        <grid-layout>
            <!-- Row 1 -->
            <grid-item>
                <app-input :title="$t('pages.Account.modals.changePassword.passwordDto.currentPassword.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="passwordDto.currentPassword"
                           :required="true"
                           :validation="$v.passwordDto.currentPassword"
                           :server-errors.sync="serverErrors.currentPassword"
                />
            </grid-item>
            <grid-item>
                <app-input :title="$t('pages.Account.modals.changePassword.passwordDto.newPassword.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="passwordDto.newPassword"
                           :required="true"
                           :validation="$v.passwordDto.newPassword"
                           :server-errors.sync="serverErrors.newPassword"/>
            </grid-item>

            <grid-item>
                <app-input :title="$t('pages.Account.modals.changePassword.passwordDto.confirmPassword.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="passwordDto.confirmPassword"
                           :required="true"
                           :validation="$v.passwordDto.confirmPassword"
                           :server-errors.sync="serverErrors.confirmPassword"
                />
            </grid-item>

            <grid-item>
                <app-button @click.prevent.native="update"
                            :size="$const.button.sizes.FILL_AREA"
                            :text-align="$const.button.textAligns.CENTER">
                    {{ $t('pages.Account.modals.changePassword.buttons.change') }}
                </app-button>
            </grid-item>
        </grid-layout>
    </default-modal>
</template>
<script>
    import {mapActions} from "vuex";
    import {namespace as accountNamespace, Types as accountTypes} from "@/store/account/const";
    import {withParams} from "vuelidate";
    import {required, sameAs} from "vuelidate/lib/validators";
    import {SHOW_PASSWORD_MODAL} from "../constants";
    import {Size, TextAlign} from "@/components/ui/AppButton/constants";
    import {Types} from "@/components/ui/PureInput/constants";
    import errorHandler from "@/mixins/common/errorHandler";
    import {password} from "@/features/validators";
    import {addSuccessNotify, addWarnNotify} from "@/features/notification/NotifyService";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        mixins: [errorHandler],

        watch: {
            active(newValue) {
                if (newValue) {
                    this.passwordDto = {
                        currentPassword: null,
                        newPassword: null,
                        confirmPassword: null
                    };
                    this.$v.$reset();
                    this.serverErrors = {};
                }
            }
        },

        data() {
            return {
                active: false,

                passwordDto: {
                    currentPassword: null,
                    newPassword: null,
                    confirmPassword: null
                }
            };
        },

        constants: {
            input: {
                types: Types
            },

            button: {
                textAligns: TextAlign,
                sizes: Size
            }
        },

        validations() {
            return {
                passwordDto: {
                    currentPassword: {
                        required: withParams({msg: this.$t("pages.Account.modals.changePassword.passwordDto.currentPassword.validations.required")},
                            required),
                        password: withParams({msg: this.$t("pages.Account.modals.changePassword.passwordDto.currentPassword.validations.password")},
                            password)
                    },
                    newPassword: {
                        required: withParams({msg: this.$t("pages.Account.modals.changePassword.passwordDto.newPassword.validations.required")},
                            required),
                        password: withParams({msg: this.$t("pages.Account.modals.changePassword.passwordDto.newPassword.validations.password")},
                            password)
                    },
                    confirmPassword: {
                        required: withParams({msg: this.$t("pages.Account.modals.changePassword.passwordDto.confirmPassword.validations.required")},
                            required),
                        sameAs: withParams({msg: this.$t("pages.Account.modals.changePassword.passwordDto.confirmPassword.validations.sameAs")},
                            sameAs("newPassword"))
                    }
                }
            };
        },

        methods: {
            ...mapActions(accountNamespace, {
                updatePassword: accountTypes.actions.UPDATE_PASSWORD
            }),

            close() {
                this.active = false;
            },

            update() {
                this.$v.passwordDto.$touch();
                if (this.$v.passwordDto.$invalid) {
                    addWarnNotify(this.$t('common.Notification.constraintViolationMessage'));
                    return;
                }
                preloaderService.showPreloader();
                this.updatePassword(this.passwordDto).then((response) => {
                    addSuccessNotify(response.data.notice.message);
                    this.close();
                    preloaderService.hidePreloader();
                }).catch((error) => {
                    this.handleErrors(error);
                    preloaderService.hidePreloader();
                }).catch(() => {
                    preloaderService.hidePreloader();
                    addWarnNotify(this.$t('common.Notification.serverErrorMessage'));
                });
            }
        },

        components: {
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            DefaultModal: () => import("@/components/ui/DefaultModal")
        },

        created() {
            this.$eventHub.$on("ctx-menu__clicked", (action) => {
                if (action === SHOW_PASSWORD_MODAL) {
                    this.active = true;
                }
            });
        }
    };
</script>
<style lang="scss">
    .account-me {
        &__avatar {
            display: flex;
        }

        &__title {
            box-sizing: border-box;
            display: flex;
            flex-grow: 1;
            padding: 0 rem(15);
        }

        &__context-menu {
            align-items: center;
            display: flex;
        }

        &__details {
            display: flex;
            width: 100%;
        }
    }
</style>
