<template>
    <default-modal v-if="active" :title="$t('pages.Account.modals.editPersonal.title')" :active.sync="active" class="edit-personal-modal">
        <grid-layout>
            <!-- Row 1 -->
            <grid-row>
                <grid-item :type="2">
                    <app-input :title="$t('pages.Account.modals.editPersonal.personal.name.title')"
                               :value.sync="personal.name"
                               :required="true"
                               :validation="$v.personal.name"
                               :server-errors.sync="serverErrors.name" />
                </grid-item>
                <grid-item :type="2">
                    <app-input :title="$t('pages.Account.modals.editPersonal.personal.surname.title')"
                               :validation="$v.personal.surname"
                               :value.sync="personal.surname"
                               :server-errors.sync="serverErrors.surname" />
                </grid-item>
            </grid-row>

            <!-- Row 2 -->
            <grid-row>
                <grid-item :type="2">
                    <date-input :title="$t($const.dateInput.birthday.title)"
                                :placeholder="$t($const.dateInput.birthday.placeholder)"
                                :startYear="$const.dateInput.birthday.startYear"
                                :lastYear="$const.dateInput.birthday.lastYear"
                                :validation="$v.personal.birthday"
                                :value.sync="personal.birthday"
                                :server-errors.sync="serverErrors.birthday" />
                </grid-item>
                <grid-item :type="2">
                    <app-select
                            :title="$t($const.select.gender.title)"
                            :options="$utils.i18nTransformOptions($const.select.gender.options, this)"
                            :placeholder="$t($const.select.gender.placeholder)"
                            :validation="$v.personal.gender"
                            :value.sync="personal.gender"
                            :server-errors.sync="serverErrors.gender" />
                </grid-item>
            </grid-row>

            <!-- Row 3 -->
            <grid-row>
                <grid-item>
                    <app-input :title="$t('pages.Account.modals.editPersonal.personal.note.title')"
                               :validation="$v.personal.note"
                               :value.sync="personal.note"
                               :input-type="$const.input.types.TEXTAREA"
                               :server-errors.sync="serverErrors.note" />
                </grid-item>
            </grid-row>

            <!-- Row 4 -->
            <grid-row  class="edit-personal-modal__toolbar">
                <grid-item :type="3" />
                <grid-item :type="3" class="edit-personal-modal__cancel">
                    <app-button @click.prevent.native="close"
                                :theme="$const.button.themes.LIGHT"
                                :size="$const.button.sizes.FILL_AREA"
                                :text-align="$const.button.textAligns.CENTER">
                        {{ $t('pages.Account.modals.editPersonal.buttons.cancel') }}
                    </app-button>
                </grid-item>
                <grid-item :type="3"  class="edit-personal-modal__save">
                    <app-button @click.prevent.native="save"
                                :size="$const.button.sizes.FILL_AREA"
                                :text-align="$const.button.textAligns.CENTER">
                        {{ $t('pages.Account.modals.editPersonal.buttons.save') }}
                    </app-button>
                </grid-item>
            </grid-row>
        </grid-layout>
    </default-modal>
</template>
<script>
    import {mapActions, mapGetters} from "vuex";
    import {namespace as accountNamespace, Types as accountTypes} from "@/store/account/const";
    import {pick} from "@/features/utils/ObjectUtils";
    import {i18nTransformOptions} from "@/features/utils/SelectUtils";
    import {withParams} from "vuelidate";
    import {required} from "vuelidate/lib/validators";
    import {SELECT_GENDER} from "@/components/ui/AppSelect/constants";
    import {BIRTHDAY} from "@/components/ui/DateInput/constants";
    import {SHOW_PERSONAL_MODAL} from "../constants";
    import {Size, TextAlign, Themes} from "@/components/ui/AppButton/constants";
    import {Types} from "@/components/ui/PureInput/constants";
    import errorHandler from "@/mixins/common/errorHandler";
    import {addSuccessNotify, addWarnNotify} from "@/features/notification/NotifyService";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        mixins: [errorHandler],

        watch: {
            active(newValue) {
                if (newValue) {
                    this.personal = pick(this.me, "name", "surname", "birthday", "gender", "note");
                    this.$v.$reset();
                    this.serverErrors = {};
                }
            }
        },

        data() {
            return {
                active: false,
                personal: {}
            };
        },

        constants: {
            input: {
                types: Types
            },

            select: {
                gender: SELECT_GENDER
            },

            dateInput: {
                birthday: BIRTHDAY
            },

            button: {
                themes: Themes,
                textAligns: TextAlign,
                sizes: Size
            }
        },

        utils: {
            i18nTransformOptions
        },

        validations() {
            return {
                personal: {
                    name: {
                        required: withParams({msg: this.$t("pages.Account.modals.editPersonal.personal.name.validations.required")},
                            required)
                    },
                    surname: {},
                    note: {},
                    birthday: {},
                    gender: {}
                }
            };
        },

        computed: {
            ...mapGetters(accountNamespace, [
                accountTypes.getters.me
            ])
        },

        methods: {
            ...mapActions(accountNamespace, {
                updatePersonal: accountTypes.actions.UPDATE_PERSONAL
            }),

            close() {
                this.active = false;
            },

            save() {
                this.$v.personal.$touch();
                if (this.$v.personal.$invalid) {
                    addWarnNotify(this.$t('common.Notification.constraintViolationMessage'));
                    return;
                }
                preloaderService.showPreloader();
                this.updatePersonal(this.personal)
                    .then((response) => {
                        addSuccessNotify(response.data.notice.message);
                        this.close();
                        preloaderService.hidePreloader();
                    }).catch((error) => {
                        this.handleErrors(error);
                        preloaderService.hidePreloader();
                    }).catch(() => {
                        preloaderService.hidePreloader();
                        addWarnNotify(this.$t('common.Notification.serverErrorMessage'));
                    });
            }
        },

        components: {
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            GridRow: () => import("@/components/ui/Grid/row.vue"),
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            DefaultModal: () => import("@/components/ui/DefaultModal"),
            DateInput: () => import("@/components/ui/DateInput"),
            AppSelect: () => import("@/components/ui/AppSelect")
        },

        created() {
            this.$eventHub.$on("ctx-menu__clicked", (action) => {
                if (action === SHOW_PERSONAL_MODAL) {
                    this.active = true;
                }
            });
        }
    };
</script>
<style lang="scss">
    .edit-personal-modal {
        &__cancel {
            @media #{$less-landscape-note} {
                order: 2;
            }
        }

        &__save {
            @media #{$less-landscape-note} {
                order: 1;
            }
        }
    }
</style>
