<template>
    <table class="details-table">
        <tbody class="details-table__tbody">
        <tr class="details-table__row" v-for="row in rows">
            <template v-if="row.underscore">
                <td colspan="2" class="details-table__cell details-table__cell_underscore">
                    <div class="details-table__underscore"></div>
                </td>
            </template>
            <template v-else>
                <td class="details-table__cell details-table__cell_key">
                <span class="details-table__key">
                    {{ row.title }}
                </span>
                </td>
                <td class="details-table__cell details-table__cell_value">
                    <a v-if="row.link" class="details-table__link" :href="row.link" >{{ row.value ? row.value : row.alt }}</a>
                    <span v-else class="details-table__value">{{ row.value ? row.value : row.alt }}</span>
                </td>
            </template>

        </tr>
        </tbody>
    </table>
</template>
<script>
    export default {
        props: {
            rows: {
                type: Array,
                required: true
            }
        }
    };
</script>
<style lang="scss">
    .details-table {
        & {
            width: 100%;
        }

        &__cell {
            & {
                padding-bottom: rem(12);
                vertical-align: bottom;
            }

            &_key {
                width: 25%;
            }
        }

        &__underscore {
            border-bottom: rem(1) solid $middle-grey;
            width: 100%;
        }

        &__key {
            color: #6a6a6a;
            font-size: rem(14);
            padding-right: rem(35);
        }

        &__value {
            color: black;
            font-size: rem(16);
        }

        &__link {
            & {
                color: $blue;
                font-size: rem(16);
            }

            &:hover {
                color: crimson;
            }
        }

        @media #{$less-landscape-note} {
            &__cell {
                display: flex;
                padding: 0;
                width: 100%;
            }

            &__key {
                display: flex;
                padding: rem(10) 0 rem(4) 0;
                width: 100%;
            }

            &__underscore {
                padding-top: rem(10);
            }

            &__value {
                display: flex;
                width: 100%;
            }
        }
    }
</style>
