<template>
    <grid-layout v-if="stage === $const.stages.FORM">
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.RestorePassword.Index.index.form.restorePasswordDto.newPassword.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="form.restorePasswordDto.newPassword"
                           :validation="$v.form.restorePasswordDto.newPassword"
                           :server-errors.sync="serverErrors.newPassword"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-input :title="$t('pages.RestorePassword.Index.index.form.restorePasswordDto.confirmPassword.title')"
                           :input-type="$const.input.types.PASSWORD"
                           :value.sync="form.restorePasswordDto.confirmPassword"
                           :validation="$v.form.restorePasswordDto.confirmPassword"
                           :server-errors.sync="serverErrors.confirmPassword"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-captcha
                        ref="recaptcha"
                        :response.sync="form.captchaResponse"
                        :validation="$v.form.captchaResponse"/>
            </grid-item>
        </grid-row>
        <grid-row>
            <grid-item>
                <app-button @click.prevent.native="restore"
                            :size="$const.button.sizes.FILL_AREA"
                            :text-align="$const.button.textAligns.CENTER">
                    {{ $t('pages.RestorePassword.Index.index.buttons.restorePassword') }}
                </app-button>
            </grid-item>
        </grid-row>
        <grid-row v-if="errorMessage">
            <grid-item>
                <app-error :value="errorMessage" />
            </grid-item>
        </grid-row>
    </grid-layout>
    <grid-layout v-else-if="stage === $const.stages.SUCCESS">
        <grid-row>
            <grid-item>
                <app-title :value="successTitle" v-if="successTitle" />
            </grid-item>
            <grid-item>
                <app-text>
                    {{ $t('pages.RestorePassword.Index.index.success.login.text') }}
                    <app-link :value="$t('pages.RestorePassword.Index.index.success.login.link')" :link="{name: 'Login'}"/>
                </app-text>
            </grid-item>
        </grid-row>
    </grid-layout>
</template>
<script>
    import {Types} from "@/components/ui/PureInput/constants";
    import {validationMixin, withParams} from "vuelidate";
    import {required, sameAs} from "vuelidate/lib/validators";
    import {password} from "@/features/validators";
    import {mapActions} from "vuex";
    import {namespace as restorePasswordNamespace, Types as restorePasswordTypes} from "@/store/restorePassword/const";
    import errorHandler from "@/mixins/common/errorHandler";
    import {Stages} from "./constants";
    import {Size, TextAlign} from "@/components/ui/AppButton/constants";
    import {Align} from "@/components/ui/Grid/constants";
    import * as preloaderService from "@/features/preloader/PreloaderService";

    export default {
        mixins: [validationMixin, errorHandler],

        data() {
            return {
                form: {
                    restorePasswordDto: {
                        newPassword: null,
                        confirmPassword: null,
                    },
                    captchaResponse: null,
                },

                stage: Stages.FORM,

                successTitle: null,

                errorMessage: null
            };
        },

        constants: {
            input: {
                types: Types
            },
            button: {
                textAligns: TextAlign,
                sizes: Size
            },
            stages: Stages,
            grid: {
                aligns: Align
            }
        },

        beforeCreate() {
            const userId = this.$route.query.userId;
            const confirmCode = this.$route.query.confirmCode;
            if(!Boolean(userId) || !Boolean(confirmCode)) {
                this.$router.push({name: "RestorePasswordRequest"})
            }
        },

        validations() {
            return {
                form: {
                    restorePasswordDto: {
                        newPassword: {
                            required: withParams({msg: this.$t("pages.RestorePassword.Index.index.form.restorePasswordDto.newPassword.validations.required")},
                                required),
                            password: withParams({msg: this.$t("pages.RestorePassword.Index.index.form.restorePasswordDto.newPassword.validations.password")},
                                password)
                        },
                        confirmPassword: {
                            required: withParams({msg: this.$t("pages.RestorePassword.Index.index.form.restorePasswordDto.confirmPassword.validations.required")},
                                required),
                            sameAs: withParams({msg: this.$t("pages.RestorePassword.Index.index.form.restorePasswordDto.confirmPassword.validations.sameAs")},
                                sameAs("newPassword"))
                        },
                    },
                    captchaResponse: {
                        required
                    }
                }

            };
        },

        methods: {
            ...mapActions(restorePasswordNamespace, {
                restoreAction: restorePasswordTypes.actions.RESTORE
            }),

            restore() {
                this.$v.form.$touch();
                if (this.$v.form.$invalid) {
                    return;
                }
                preloaderService.showPreloader();
                this.form.restorePasswordDto["userId"] = this.$route.query.userId;
                this.form.restorePasswordDto["confirmCode"] = this.$route.query.confirmCode;

                this.restoreAction(this.form).then((response) => {
                    preloaderService.hidePreloader();
                    this.successTitle = response.data.notice.message;
                    this.stage = Stages.SUCCESS;
                }).catch((error)=>{
                    this.$refs.recaptcha.resetCaptcha();
                    if(error.response.status === 400) {
                        this.handleErrors(error);
                    }
                    const msg = error.response.data.message;
                    if(!msg) {
                        throw new Error();
                    }
                    this.errorMessage = msg;
                    preloaderService.hidePreloader();
                }).catch(() => {
                    this.errorMessage = this.$t('pages.RestorePassword.Index.index.errorMessage');
                    preloaderService.hidePreloader();
                });
            }
        },

        components: {
            AppInput: () => import("@/components/ui/AppInput"),
            AppButton: () => import("@/components/ui/AppButton"),
            AppError: () => import("@/components/ui/AppError"),
            AppTitle: () => import("@/components/ui/AppTitle"),
            AppLink: () => import("@/components/ui/AppLink"),
            AppText: () => import("@/components/ui/AppText"),
            GridLayout: () => import("@/components/ui/Grid/layout.vue"),
            GridItem: () => import("@/components/ui/Grid/item.vue"),
            GridRow: () => import("@/components/ui/Grid/item.vue"),
            AppCaptcha: () => import("@/components/ui/AppCaptcha")
        }
    };
</script>
