<template>
    <div class="test-credentials">
        <div>
            <span>Email:</span> {{ email }}
        </div>
        <div>
            <span>Password: </span> {{ password }}
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                email: "demo_test-user@mail.ru",
                password: "zaq12345"
            }
        }
    }
</script>
<style lang="scss">
    .test-credentials {
        & {
            display: flex;
            flex-wrap: wrap;
            font-size: rem(16);
            font-style: italic;
            margin-bottom: rem(20);
            width: 100%;
        }

        div {
            color: $dark-grey;
            display: flex;
            margin-bottom: rem(8);
            width: 100%;
        }

        span {
            color: $grey;
            margin-right: rem(5);
        }
    }
</style>